@model WebApplication1.Models.User
@{
    ViewBag.Title = "Change Password";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin/AdminDashboard">Dashboard</a></li>
                <li><a href="/admin/userList">User List</a></li>
                <li><a href="/admin/houseList">House List</a></li>
                <li><a href="/admin/bookingList">Bookig Flat List</a></li>
                <li><a href="/admin/editProfile">Edit Profile</a></li>
                <li><a href="/admin/changePassword">Change Password</a></li>
                <li><a href="/logout/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Change Password</h2>

<p class="text-danger">@ViewBag.connPass</p>
<p class="text-danger">@ViewBag.newPass</p>
<p class="text-danger">@ViewBag.Message</p>
<form action="/admin/changePassword" method="post">
    <div class="form-group">
        <label>Current Password</label>
        <input type="password" class="form-control" name="Password" required>
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" name="New_Password" required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="con_Password" required>
    </div>
    <input type="submit" value="Save" class="btn btn-info"/>
</form>
