
@{
    ViewBag.Title = "ChangePassword";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/owner/dashboard">Dashboard</a></li>
                <li><a href="/owner/houseList">House List</a></li>
                <li><a href="/owner/editProfile">Edit Profile</a></li>
                <li><a href="/owner/changePassword">Change Password</a></li>
                <li><a href="/logout/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>ChangePassword</h2>


<p class="text-danger">@ViewBag.connPass</p>
<p class="text-danger">@ViewBag.newPass</p>
<p class="text-danger">@ViewBag.Message</p>
<form action="/owner/changePassword" method="post">
    <div class="form-group">
        <label>Current Password</label>
        <input type="password" class="form-control" name="Password" required>
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" name="New_Password" required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="con_Password" required>
    </div>
    <input type="submit" value="Save" class="btn btn-info" />
</form>